################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Server Files/.vs
/Server Files/Next Version.zip
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/FishersLife/v15/.suo
/Server Files/Next Version/A3FL.Backend.zip
